<section>
<div class="header">

    <aside class="right">
   
        
      
        </aside>
        


    <aside class="left">
    <img src="../../assets/img/luxury-h-hotel-logo-vector-31948467-removebg-preview.png" alt="">
    </aside>
    
    
    
  
    
    
    
    
    <div class="buttons">
    
    
        
        <button mat-button color="primary">Home</button>
        
        
        
        <button mat-button color="primary">Blog</button>
        
        
        
        <button mat-button color="primary">Gallery</button>
        
        
        
        
        <button mat-button color="primary" [matMenuTriggerFor]="afterMenu">Rooms</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        
        
        <button mat-button color="primary" [matMenuTriggerFor]="afterMenu">Servises</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        
        
        <button mat-button color="primary">About us</button>
        
        <button mat-button color="primary">Registration</button>
        <button mat-button color="primary">Sign in</button>
          

        </div>
    
    




</div>



</section>






